langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-ollama
# unstructured
onnxruntime
chromadb
faiss-cpu
pymupdf
pytest
pyyaml
psutil
python-dotenv
requests
tqdm
lxml
sentence-transformers
tiktoken
# hf_xet
huggingface_hub[hf_xet]
numpy
pandas
scikit-learn
# matplotlib
# seaborn
# torch
# transformers
beautifulsoup4
selenium

# `pip install -U langchain-chroma`
# `pip install "unstructured[md]"`